
@using MaleFashionApp.Entities
@using Microsoft.AspNetCore.Html
@model IEnumerable<Navigate>

<ul>
    @foreach (var item in Model.OrderBy(x => x.Order))
    {
        @RenderMenuItem(item)
    }
</ul>

@functions {

    public IHtmlContent RenderMenuItem(Navigate item)
    {
        if (item.Childs != null && item.Childs.Any())
        {
            return BuildDropdown(item);
        }
        else
        {
            return BuildSimpleLink(item);
        }
    }

    private IHtmlContent BuildSimpleLink(Navigate item)
    {
        return new HtmlString($"<li><a href='{item.Href}'>{item.Title}</a></li>");
    }

    private IHtmlContent BuildDropdown(Navigate item)
    {
        var childHtml = "";

        foreach (var child in item.Childs.OrderBy(x => x.Order))
        {
            childHtml += $"<li><a href='{child.Href}'>{child.Title}</a></li>";
        }

        var html = $@"
            <li>
                <a href='{item.Href}'>{item.Title}</a>
                <ul class='dropdown'>
                    {childHtml}
                </ul>
            </li>";

        return new HtmlString(html);
    }
}