@using MaleFashionApp.ViewModels
@{
    var viewModel = (HeaderActionsViewModel)Model;
}

<a href="#" class="search-switch"><img src="@viewModel.Search.Value" alt=""></a>
<a href="#"><img src="@viewModel.Wishlist.Value" alt=""></a>
<a href="#"><img src="@viewModel.Cart.Value" alt=""></a>
<div class="price">@viewModel.TotalPrice $</div>